<h1>Games#score</h1>
<p>Find me in app/views/games/score.html.erb</p>
<p>Score: <%= @result[:score] %></p>
<p>Message: <%= @result[:message] %></p>
<p>Time taken: <%= @result[:time]%>s</p>


<%= link_to "Have another go!", games_new_path %>
